@model IEnumerable<WebAppTilausDB.Models.Asiakkaat>

@{
    ViewBag.Title = "Asiakkaat";
}
<header>

    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Asiakkaat</h1>
        <h4 class="mb-3">Lista asiakkaista</h4>
        <p>
            @Html.ActionLink("Luo uusi asiakas", "Create", new { }, new { @class = "btn btn-primary" })
        </p>
    </div>
    <p>
        @Html.ActionLink("Asiakkaat yhteenveto", "AsiakkaatSummary")
    </p>
</header>

<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(model => model.AsiakasID)</th>
        <th>@Html.DisplayNameFor(model => model.Nimi)</th>
        <th>@Html.DisplayNameFor(model => model.Osoite)</th>
        <th>@Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.AsiakasID)</td>
        <td>@Html.DisplayFor(modelItem => item.Nimi)</td>
        <td>@Html.DisplayFor(modelItem => item.Osoite)</td>
        <td>@Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)</td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id = item.AsiakasID }) |
            @Html.ActionLink("Poista", "Delete", new { id = item.AsiakasID })
        </td>
    </tr>
}

</table>
