@model IEnumerable<WebAppTilausDB.Models.Tilaukset>

@{
    ViewBag.Title = "Index";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<style>
    #accordion .content {
        display: none;
    }

    #accordion .active .content {
        display: block;
    }
</style>

<script>
    $(document).ready(function () {
        $('.header').click(function () {
            $(this).toggleClass('active');
            $(this).next('.content').slideToggle(500);
        });
    });
</script>

<header>
    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Tilaukset</h1>
        <p>
            @Html.ActionLink("Uusi tilaus", "Create", new { }, new { @class = "btn btn-primary" })
        </p>
        <ul>
           <li>@Html.ActionLink("Tilaukset viikonpäivittäin", "OrdersPerWeek")</li>
      </ul>
    </div>
    <p>
        @Html.ActionLink("Tilaus yhteenveto", "Ordersummary")
    </p>
</header>
<div id="accordion">
    @foreach (var item in Model)
    {
        <div class="section">
            <div class="header">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Tilaus ID: @Html.DisplayFor(modelItem => item.TilausID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Toimitusosoite)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tilauspvm)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Toimituspvm)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Asiakkaat.Nimi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>@Html.DisplayFor(modelItem => item.Toimitusosoite)</td>
                            <td>@Html.DisplayFor(modelItem => item.Tilauspvm)</td>
                            <td>@Html.DisplayFor(modelItem => item.Toimituspvm)</td>
                            <td>@Html.DisplayFor(modelItem => item.Asiakkaat.Nimi)</td>
                            <td>@Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)</td>
                            <td>
                                @Html.ActionLink("Muokkaa", "Edit", new { id = item.TilausID }) |
                                @Html.ActionLink("Poista", "Delete", new { id = item.TilausID })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="content">
                @{Html.RenderPartial("_OrderLines", item.Tilausrivit);}
            </div>
        </div>
    }
</div>
